<h1 align="center"><%= "Type: " + @type.name %></h1>
<div align="center">
  <%= will_paginate @type_articles %>
</div>
<%= render 'articles/article', obj: @type_articles %>
<div align="center">
  <%= will_paginate @type_articles %>
</div>