<!DOCTYPE html>
<html>
<%= link_to 'Home', root_path %>
<head>
  <title>About</title>
</head>

<body>

  <h1>Anthony Healy, NCIRL Final Project</h1>
  <p>Build using: Ruby on Rails, Cloud 9, Github and Heroku</p>

</body>
  <h2>The Rules</h2>
  <li> 
  
  <p>This site takes no responsiblity for any swaps that go wrong, so be vigilant</p>
  <p>Be nice, rude users will be blocked</p>
  <p>If you want to delete your account, ask admin</p>
  <p>Have fun</p>
  <p>Any question, ask admin</p>
  </li>
</html>