<!DOCTYPE html>
<html>
<%= link_to 'About', about_path %>
<head>
  <title>The Vinyl Swap Shop</title>
</head>

<body>

  <h1>Welcome to Our Company</h1>
  <h2>Web Site Main Ingredients:</h2>

  <p>Pages (HTML)</p>
  <p>Style Sheets (CSS)</p>
  <p>Computer Code (JavaScript)</p>
  <p>Live Data (Files and Databases)</p>

</body>
<%= image_tag 'record1.jpg' %>
</html>