<div class="container"></div>
   <footer class="footer">
     <small>
       <a href="https://www.linkedin.com/in/anthonyhealy1/"> Anthony Healy - <a href="x16133676@student.ncirl.ie">x16133676 - </a>
       <a href= "https://vinyl-swap.herokuapp.com/"> NCIRL Higher Diploma in Science in Computing - Final Project 2018</a>
       
   </small>
   <nav>
     <ul>
       <li><%= link_to "About", about_path %></li>
       <li><a href="mailto:x16133676@student.ncirl.ie"> Email</a></li>
     </ul>
   </nav>
   </footer>
  </div> 